[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
requests = "*"
pandas = "*"
pillow = "*"
scikit-learn = "*"
matplotlib = "*"
streamlit = "*"
bokeh = "*"

[dev-packages]

[requires]
python_version = "3.11"
